{% extends "base.html" %} {% load staticfiles %}
<!-- Need to install bootstrap4 in virtual env and add to installed apps in settings.py -->
{% load bootstrap4 %}
{% block title %} Sign up {% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <form method="post" action="." class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock content %}
